/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: #fff;
  transition: all 0.6s ease;

  .logo {
      font-size: 1.7rem;
      font-family: "Inconsolata", serif;
      font-weight: 800;
      color: var(--text-color);
      text-decoration: none;
      transition: all 1s ease;
  }

  .sections-bar {
      justify-content: center;
      align-items: center;
      opacity: 0;
      display: none;
      transform: translateY(-20px);
      transition: all 0.5s ease;

      ul {
          position: relative;
          height: 40px;
          margin: 0;
          padding: 0;
          display: flex;
          gap: 2rem;

          li {
              cursor: pointer;
              position: relative;
              opacity: 1;
              transform: none;
              white-space: nowrap;
              font-size: 1.3rem;
              font-family: "Inconsolata", monospace;
              font-weight: 700;
              transition: all 0.3s ease;
              
              &:not(.active) {
                  filter: blur(1px);
                  transform: scale(0.9);
              }
          }

          li.active {
              transform: scale(1.1);
              filter: none;
          }
      }
  }

  .btns-bar {
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.5s ease;

      ul {
          display: flex;
          align-items: center;
          gap: 1.5rem;
      }
  }


  .visible {
      opacity: 1;
      display: flex;
      transform: translate(0);
      
      &.sections-bar {
          animation: slideDown 0.5s ease;
      }
  }
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

/* Sections */
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (max-width: 768px) {
  header {
    position: absolute;
  }

  header .sections-bar {
    display: none;
  }

  .container{
    height: 100%;
  }
  .section {
    height: 100%;
  } 
}

